<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebOvin</title>
	<link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>

<body>
	<header class="bg-red-600 p-6">
		<nav class="">
			<div class="container">
				<a asp-area="" asp-page="/Index">Home</a>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="">
		<div class="container">
		</div>
	</footer>

	<script type="module" src="~/js/index.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
